body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1049px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:375px;
  height:667px;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:45px;
  width:121px;
  height:24px;
  opacity:0.3;
  font-size:20px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:12px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:71px;
  width:375px;
  height:1px;
  opacity:0.3;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:82px;
  width:121px;
  height:24px;
  opacity:0.3;
  font-size:20px;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:390px;
  width:21px;
  height:28px;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-15px;
  width:416px;
  height:42px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:421px;
  width:375px;
  height:1px;
  opacity:0.5;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:396px;
  width:20px;
  height:15px;
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:396px;
  width:20px;
  height:15px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:387px;
  width:375px;
  height:1px;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:396px;
  width:14px;
  height:15px;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:396px;
  width:14px;
  height:15px;
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:396px;
  width:14px;
  height:15px;
}
#u1115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:396px;
  width:14px;
  height:15px;
}
#u1116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:396px;
  width:13px;
  height:15px;
}
#u1117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:396px;
  width:14px;
  height:15px;
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:396px;
  width:14px;
  height:15px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:396px;
  width:26px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:22px;
  word-wrap:break-word;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:229px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:432px;
  width:363px;
  height:229px;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:55px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#0099FF;
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:313px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:100px;
  width:501px;
  height:313px;
  font-size:20px;
  text-align:left;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:497px;
  word-wrap:break-word;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:0px;
  width:57px;
  height:43px;
  font-size:18px;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:9px;
  width:17px;
  height:21px;
}
#u1130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
