body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1560px;
  height:1326px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:0px;
  width:1560px;
  height:1326px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
